body {
  max-width: 1400px;
  margin: 0;
  font-family: "Roboto", "Shrikhand", sans-serif, cursive;
  text-align: center;
  background: #F7F7F7;
}

* {
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Shrikhand";
  font-size: 4vw;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.menu h1 {
  margin: 8px;
  font-weight: normal;
}

.localisation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5vw;
}
.localisation i {
  margin-right: 13px;
}

.h2-description {
  margin: 9% 10% 3% 10%;
}

.p-description {
  color: #353535;
  font-weight: 300;
  font-size: 4.5vw;
  margin: 20px 30px;
}

.btn-explorer-restau {
  padding: 13px 16px;
  font-size: 3.9vw;
  color: white;
  background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
}

.fonctionnement {
  background-color: white;
  margin: 12% 0;
  padding: 13% 5%;
  text-align: left;
}
.fonctionnement h2 {
  font-size: 6.5vw;
  margin: 0;
}
.fonctionnement__div-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 273px;
  margin-top: 8%;
}
.fonctionnement__div-infos__instruction {
  margin-left: 12px;
  display: flex;
  align-items: center;
  padding: 27px 33px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-size: 4.2vw;
}
.fonctionnement__div-infos__instruction span {
  position: absolute;
  left: 5%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
}
.fonctionnement__div-infos__instruction i {
  margin-right: 10%;
  color: #7E7E7E;
}

.restaurants {
  text-align: left;
  padding: 0% 5%;
}

.article {
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 18px;
  overflow: hidden;
}
.article__divs-img {
  width: 100%;
  height: 58vw;
}
.article__divs-img span {
  position: absolute;
  right: 18px;
  margin: 5%;
  padding: 7px 8px;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 4vw;
  border-radius: 2px;
}
.article img {
  height: 100%;
  width: 100%;
}
.article__cover img {
  object-fit: cover;
}
.article__infos {
  margin: 16px 12px;
  display: flex;
  justify-content: space-between;
}
.article__infos h3 {
  margin: 0;
  font-size: 5.5vw;
}
.article__infos p {
  margin: 5px 0;
  font-size: 5vw;
}
.article__infos button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  font-size: 6vw;
  margin-right: 5%;
}

footer {
  margin-top: 23%;
  background-color: #353535;
  padding: 5px 25px 25px 15px;
  color: white;
  text-align: left;
  font-size: 5vw;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: normal;
}
footer li {
  list-style: none;
  margin: 7px 0;
}
footer a {
  color: white;
}
footer i {
  margin-right: 7%;
  width: 3vw;
}

.barre {
  display: inline-block;
  border-bottom: 2px solid black;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .h2-description {
    font-size: 7vw;
  }
}

/*# sourceMappingURL=style.css.map */
