body {
  margin: 0;
  font-family: "Roboto", "Shrikhand", sans-serif, cursive;
  text-align: center;
  background: white;
}

* {
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Shrikhand";
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;

  h1 {
    font-weight: normal;
  }

  a {
    position: absolute;
    font-size: 1.1em;
    left: 23px;
  }
}

.banniere {
  width: 100%;
  height: 400px;

  img {
    height: 100%;
    z-index: -1;
    position: relative;
    width: 100%;
  }

  &__cover img {
    object-fit: cover;
  }
}

form {
  justify-content: center;
  align-items: center;
  display: flex;
}

.carte {
  margin-top: -65px;
  background-color: #f5f6f6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 40%;
  padding: 1em 14em 3em 14em;


  &__liste {
    opacity: 0;
    margin-bottom: 9%;
    text-align: left;
    animation: 1s cubic-bezier(0.72, -0.71, 0.19, 1.71) forwards apparitions;  // Animation Entrées Plats Desserts
  }

  &__nom {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3%;
    font-size: 18px;

    &__jaime {
      border: none;
      background-color: transparent;
      justify-content: center;
      display: flex;
      align-items: center;
      margin-left: 38px;
      font-size: 24px;

      input {
        position: absolute;
        z-index: 5;
        height: 6vw;
        width: 5vw;
        opacity: 0;
      }

      .fa-solid {
        position: absolute;
        opacity: 0;
        transition: opacity 0.4s, font-size 0.2s;
        z-index: 1;
        background: linear-gradient(to bottom, #9356dc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      .fa-regular {
        position: absolute;
      }
      // Animation du coeur
      input[type="checkbox"]:checked+.fa-solid {
        opacity: 1;
      }
    }

    h2 {
      font-family: "Shrikhand";
      margin: 0;
      font-weight: normal;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 300;
    flex-direction: column;
    display: flex;
    text-transform: uppercase;

    span {
      border: 2px solid #99e2d0;
      margin-top: 4px;
      width: 7%;
    }
  }

  &__plats {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-weight: bold;
    margin: 16px 16px 16px 0;

    &__infos {
      width: 100%;
      align-items: flex-end;
      justify-content: space-between;
      height: 88px;
      display: flex;

      &__div-info {
        width: 83%;
        margin: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        margin: 16px;
      }

      p {
        font-weight: 300;
        margin: 1% 0;
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px;
        text-overflow: ellipsis;
      }

      &:hover .carte__plats__infos__checkbox { // Animation coche coté droit
        width: 88px;
      }

      &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99e2d0;
        width: 0%;
        position: relative;
        overflow: hidden;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s ease;

        input {
          z-index: 1;
          position: absolute;
          opacity: 0;
        }

        .fa-check {
          border-radius: 50px;
          background-color: #ffffff;
          display: flex;
          padding: 6px;
          color: #99e2d0;
        }
      }
    }
  }
}


// Animation Entrées Plats Desserts
@keyframes apparitions {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }

  90% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}

.delai-0 {
  animation-delay: 0s;
}

.delai-1 {
  animation-delay: 0.3s;
}

.delai-2 {
  animation-delay: 0.6s;
}

.btn-commander {
  padding: 3% 8%;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: white;
  background: linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  &:hover {
    background: linear-gradient(0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)),
      linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}

footer {
  background-color: #353535;
  padding: 25px;
  color: white;
  text-align: left;

  .footer__blocs-navs {
    justify-content: flex-end;
    display: flex;

    nav {
      justify-content: flex-end;
      align-items: center;
      display: flex;

      ul {
        display: flex;
        justify-content: end;
        margin-right: 4%;

        li {
          list-style: none;
          margin: 0 4%;
          white-space: nowrap;

          a {
            color: white;

            i {
              margin-right: 7%;
            }
          }
        }
      }



    }
  }

  h3 {
    font-family: "Shrikhand";
    font-weight: normal;
    margin-right: 7%;
  }
}



@media screen and (max-width: 1013px) {
  .carte {
    width: auto;
    padding: 1em 4em 3em 4em;
  }

  .carte__liste {
    width: 500px;
  }

  footer {
    font-size: 1.6vw;
  }

}

@media screen and (max-width: 768px) {

  .menu {
    font-size: 4vw;

    h1 {
      margin: 8px;
    }

    a {
      font-size: 5vw;
    }
  }

  .banniere {
    height: 66vw;
  }

  .carte {
    padding: 15px 17px;
    padding-bottom: 12%;
    width: 100%;

    &__liste {
      margin-bottom: 13%;
      width: auto;
    }

    &__nom {
      justify-content: space-around;
      font-size: 5vw;

      &__jaime {
        font-size: 5.5vw;
        margin: 0;
      }

      h2 {
        font-size: 7vw;
      }
    }

    h3 {
      font-size: 4.5vw;

    }

    &__plats {
      margin-bottom: 4%;
      font-size: 4.5vw;

      &__infos {
        height: 18vw;

        &__div-info {
          margin: 3%;

          span {
            font-weight: 300;
            margin: 1% 0;
            white-space: nowrap;
            overflow: hidden;
            font-size: 3.9vw;
            text-overflow: ellipsis;
          }
        }

        span {
          margin: 5%;
        }

        p {
          font-size: 3.9vw;
        }

        &:hover .carte__plats__infos__checkbox {
          width: 30%;
        }

        &__checkbox {

          .fa-check {
            font-size: 4vw;
          }
        }
      }
    }
  }


  .btn-commander {
    padding: 4% 14%;
    font-size: 4vw;
  }

  footer {
    padding: 5px 25px 25px 15px;
    font-size: 4vw;

    .footer__blocs-navs {
      flex-direction: column-reverse;
      align-items: flex-start;

      h3 {
        font-family: "Shrikhand";
        font-weight: normal;
        margin-bottom: unset;
      }

      nav {
        display: block;

        ul {
          display: block;
          list-style: none;
          padding: 0;

          li {
            margin: 9px 0;

            a {

              i {
                width: 5vw;
              }
            }
          }
        }
      }
    }
  }


}